# Python
__pycache__/
*.pyc
venv/
data/

# Output
answers_raw.txt
answers_time.csv
submission.csv
submission_time.csv

# Secrets
api-keys.json
test.py
.env

# Test private
private_test.json

# Editor
.vscode/
.idea/
